{% extends 'goodies/base.html'%}
{% block content%}
<h2 id="stock management">stock management </h2>
<p>Stock management is the practice of ordering, storing, tracking, and controlling inventory.</p>
<p>Stock management applies to every item a business uses to produce its products or services – from raw materials to finished goods. In other words, stock management covers every aspect of a business’s 
<p>Stock management may also be called stock control, inventory management, or inventory control.</p>
<h2 id="why-is-stock-management-important-">Why is stock management important?</h2>
<p>Inventory is a major  that represents tied-up. managing stock effectively therefore enables a business to free up capital. </p>
<p>Efficient stock control requires understanding the mix of different kinds of stock and acknowledging the demands on that stock.  This help keep stock at a reasonable level, balancing the need for surplus supplies with the need to reduce tied-up capital. </p>
<h2 id="different-types-of-stock">Different types of stock</h2>
<p>There are four main categories of stock or inventory:</p>
<ul>
<li>stock that is ready to be used in the production of goods.</li>
<li> unfinished goods that are still in production.</li>
<li> items that are ready for sale.</li>
<li>stock that will be used in the daily running of the business and will need updating, for example, fuel and stationery.</li>
</ul>
<p>You may choose to divide your stock into further categories. For example, if you categorise stock according to value, you could have categories for low, medium, and high value stock. This could help you plan for and fund the replacement of stock if cashflow is limited. </p>
<h2 id="perpetual-vs-periodic-stock-management">Perpetual vs. periodic stock management</h2>
<p>For small businesses, there are two main approaches to stock management: periodic and perpetual stock taking.</p>
<ul>
<li> this system of inventory valuation requires physical inventory accounts at specific intervals. This method of stock management is suitable for small businesses with minimal inventory and is much cheaper than electronic tracking systems. However, this method is not suitable for large companies with extensive inventories because physical stock takes are time-consuming. </li>
<li>this system relies on electronic tracking and to record and track inventory on a continual basis. Whilst this is a more expensive system than physical inventory counts, it gives a more accurate and up-to-date indication of stock levels and removes the risk of human error. </li>
</ul>
{%endblock%}