{% extends 'goodies/base.html' %}
{%load static%}
{%block content%}
<link href="{% static 'vendor/bootstrap/css/table.css' %}" rel="stylesheet">
<h1>products</h1>
	<table border="2" id ='product'>
	<tr><th>No</th><th>Name</th><th>catergory</th><th>sku</th><th>quantity</th><th>date created</th><th>last update</th>
		{% if perms.goodies.goodies.change_product %}
		<th>update</th>
		{%endif%}
		{% if perms.goodies.delete_product %}
		<th>delete</th>
		{%endif%}
		</tr>
		{% for product in object_list %}
		<tr>
		<td>{{ forloop.counter }}</td>
		<td><a href="{{ product.get_absolute_url }}">{{ product.name}}</a></td>
		<td>{{product.productcatergory}}</td>
		<td>{{product.weight}}</td>
		<td>{{product.quantity}}</td>
		<td>{{product.date_created}}</td>
		<td>{{product.last_update}}</td>
		{% if perms.goodies.change_product %}
		<td><a href="updateproduct{{ product.get_absolute_url }}update">update</a></td>
		{%endif%}
		{% if perms.goodies.delete_product %}
		<td><a href="deleteproduct{{ product.get_absolute_url }}delete">delete</a></td>
		{% endif%}
		</tr>
		{% empty %}
		No products have been added]
		{% endfor %}
	</table>
{%endblock%}

