{% extends 'goodies/base.html' %}
{% load static %}

{% block content%}
<br><br>
<h1>stock</h1>
<link href="{% static 'vendor/bootstrap/css/table.css' %}" rel="stylesheet">
<form method="POST" action="reports">
        {% csrf_token %}
        {{ form}}
		<input type="submit" value="view stock pdf">
</form>
<table border="2" id ='product'>
<tr><th>No</th><th>Name</th><th>catergory</th><th>sku</th><th>quantity</th><th>date created</th><th>last update</th>
  </tr>
  {% for queryset in queryset %}
  <tr>
  <td>{{ forloop.counter }}</td>
  <td>{{ queryset.name}}</td>
  <td>{{queryset.productcatergory}}</td>
  <td>{{queryset.weight}}</td>
  <td>{{queryset.quantity}}</td>
  <td>{{queryset.date_created}}</td>
  <td>{{queryset.last_update}}</td>
</tr>
{% endfor %}
</table>
{%endblock%}
