<h3>welcome to our web site please place an order</h3>
<p> stay connect with us 24/7 and learn of the products we have</p>
<p>place an order and it will be delivered to you within hours or days depending your location</p>
<p>What do you need? We'll find it for you and deliver it in a few minutes.</p>
<p> Order from the comfort of your home and our Glovers will bring it to your doorstep.</p>
<p>Present in 26 countries. Real-time order tracking. Easy and safe delivery.</p>
<a href=" "><button type="button" name="login">staff login</button></a>
